.csq__category--featured {
  width: 33vw;
  height: 100%;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "nav nav nav nav nav nav nav nav nav nav nav nav"
      "lside lside . con con con con con con . rside rside"
      "foot foot foot foot foot foot foot foot foot foot foot foot";
    grid-template-rows: minmax(10vh, max-content) 1fr minmax(10vh, max-content);
  }
  .csq__header {
    grid-area: nav;
  }
  .csq__main {
    grid-area: con;
  }
  .csq__aside--right {
    grid-area: rside;
  }
  .csq__footer {
    grid-area: foot;
  }
  .csq__category--featured {
    width: 17vw;
  }
}
/*=====  End of usage layout  ======*/
