.csq_ul--qlist {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 1rem;
}
.csq_ul--qlist li:last-child {
  margin-right: auto;
}

.csq_ul--qlist li:first-child {
  margin-left: auto;
}
.csq_li--qlist-item {
  flex-shrink: 0;
  flex-grow: 0;
  width: 20rem;
  aspect-ratio: 13 / 14;
}

body {
  display: grid;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "con con con con con con con con con con con con"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
  grid-template-rows: minmax(10vh, max-content) 1fr minmax(10vh, max-content);
}
.csq__header {
  grid-area: nav;
}
.csq__main {
  grid-area: con;
  align-self: center;
  overflow: hidden;
}
.csq__footer {
  grid-area: foot;
}
/* } */
/*=====  End of usage layout  ======*/
